
:root {
    --grid-size: ;
}

#container {
    width: 960px;
    height: 960px;
    background: rgb(186, 130, 0);
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    gap: 2px;
}

.square {
    box-sizing: border-box;
    background: aquamarine;
}

/* .square:hover {
    background: rgb(219, 2, 219);
} */