
:root {
    --grid-size: ;
}

#container {
    width: 700px;
    height: 700px;
    background: rgb(186, 130, 0);
    display: grid;
    grid-template-columns: repeat(var(--grid-size), 1fr);
    grid-template-rows: repeat(var(--grid-size), 1fr);
    gap: 1px;
}

.square {
    background: aquamarine;
    filter: brightness(1);
}
